version: '3'
services:

  zookeeper:
    image: confluentinc/cp-zookeeper:3.3.1
    ports:
     - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:3.3.1
    depends_on:
      - zookeeper
    ports:
     - "9092:9092"
     - "9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: HOST://localhost:9092,DOCKER://kafka:9093
      KAFKA_LISTENERS: HOST://:9092,DOCKER://:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: HOST:PLAINTEXT,DOCKER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_DELETE_TOPIC_ENABLE: "true"

  ingester:
    image: gins/gi_kafka_ingester:dev
    depends_on:
      - zookeeper
      - kafka
      
    environment:
      ZOOKEEPER_HOST: kafka:9093
